@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<Webbanhang.Context.Product>




@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .pagination {
        display: ruby-text;
        padding: 8px 16px;
        border-radius: 4px;
        background-color: #FFC0CB;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    }

        .pagination a {
            color: #666;
            float: left;
            padding: 5px 10px;
            text-decoration: none;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

            .pagination a.active {
                background-color: #8A2BE2;
                color: #8A2BE2;
            }

            .pagination a:hover:not(.active) {
                background-color: #FF4500;
            }
</style>


<h2>Quản lý sản phẩm</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create")
</p>

@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <p>
        Tìm sản phẩm:&nbsp @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @placeholder = "Nhập tên sản phẩm" })
        <input type="submit" class="btn btn-sm btn-outline-primary " value="Tìm kiếm" />
    </p>
}
<table class="table">
    <tr>
        <th class="navbar-info navbar-light">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
        </th>
        <th class="navbar-info navbar-light">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Avatar)
        </th>
        <th class="navbar-info navbar-light">
            @Html.DisplayNameFor(model => model.FirstOrDefault().CategoryId)
        </th>
        <th class="navbar-info navbar-light">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
        </th>
        <th class="navbar-info navbar-light">
            @Html.DisplayNameFor(model => model.FirstOrDefault().PriceDiscount)
        </th>
        <th class="navbar-info navbar-light">
            @Html.DisplayNameFor(model => model.FirstOrDefault().TypeId)
        </th>
        <th class="navbar-info navbar-light">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Slug)
        </th>
        <th class="navbar-info navbar-light">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Brandid)
        </th>
        <th class="navbar-info navbar-light">
            @Html.DisplayNameFor(model => model.FirstOrDefault().Deleted)
        </th>
        <th class="navbar-info navbar-light">
            @Html.DisplayNameFor(model => model.FirstOrDefault().ShowOnHomePage)
        </th>
        <th class="navbar-info navbar-light">
            @Html.DisplayNameFor(model => model.FirstOrDefault().FullDescription)
        </th>
        <th class="navbar-info navbar-light"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="~/Content/images/items/imagesSQL/@Html.DisplayFor(modelItem => item.Avatar)" style="width:100px;height:100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brandid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowOnHomePage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullDescription)
            </td>
            <td>
                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-ms btn-primary "> <i class="fas fa-edit text-white"></i> </a>
                <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-info"> <i class="fas fa-eye text-white"></i> </a>
                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger "> <i class="fas fa-trash-alt text-white"></i> </a>
</td>
        </tr>
    }

</table>
<div class="text-center">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
</div>
